form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar,
.pub_image .container-avatar{
    height: 35px;
    border-radius: 40px;
    overflow: hidden;
    margin-left:20px;
}

.navbar .container-avatar img,
.pub_image .container-avatar img{
    height: 100%;
}

.pub_image{
    margin-bottom: 25px;
}

.pub_image .container-avatar{
    float:left;
     margin-right:15px;
}
.pub_image .data-user{
    font-weight: bold;
    line-height: 35px;
}

.pub_image .data-user a{
    color: #444;
}

.pub_image .nickname{
    color:gray;
}

.image-container{
    max-height: 400px;
    overflow: hidden;
}

.image-detail{
    max-height: 500px;
}

.image-container img{
    width: 100%;
}

.pub_image .card-body{
    padding:0px;
}

.pub_image .description{
    padding: 25px;
    padding-bottom: 0px !important;
}

.pub_image .btn-comments{
    margin: 20px !important;
    margin-top:-20px;
    margin-left:0px;
}

.likes{
    float:left;
    margin-top: 5px;
    padding-left:10px;
}

.likes img{
    width: 20px;
}

.red-heart, .red-heart:hover{
    color: red;
}

.pub_image_detail .comments {
    padding: 20px;
}

.number_likes{
    color: gray;
    font-size: 11px;
}

.profile-user{
    height: 200px;
    margin-bottom: 40px;
}

.profile-user .container-avatar{
    width: 200px;
    height: 200px;
    border-radius: 900px;
    overflow: hidden;
    float:left;
}
.profile-user .container-avatar img{
   height: 100%;
}

.profile-user .user-info{
    float: left;
    padding-left: 30px;
    padding-top: 30px;
}

.btn-search{
    margin-left: 0px;
    padding-left: 0px;
}

.bg-white{
    background-color: white;
}

.profile-pic{
    width: 60%;
}